.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 2.5;
}
a {
    text-decoration: none; /* Remove underline */
    color: #212021; /* Set custom color, e.g., blue */
}

a:hover {
    text-decoration: underline; /* Remove underline on hover */
    color: black; /* Set custom color on hover, if needed */
}
.ab,.ab:hover {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Set custom color, e.g., blue */
}

 


.pagination a {
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.pagination a.active {
    background-color: #212021;
    color: #fff;
}

.limit-input {
    margin-bottom: 10px;
}
.description {
    max-height: 1.5em; /* Adjust the value based on your design */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis (...) if text overflows */
}